

<div style="text-align:center">
  <h1>
    Angular Chat - {{nick}}
  </h1>
  <h2 style="color: blue">
    Chat with - {{activeContact}}
  </h2>

  <h4 id="myname">Enter message</h4>

  <div class="row">
    <!-- contacts -->
    <div class="column left" style="background-color:#aaa;">
      <ul id="contacts"></ul>
    </div>

    <div class="container column right">
      <input type="text" [(ngModel)]="message" (keyup)="onSendKey($event)" />
      <input type="button" id="sendmessage" value="Send" (click)="onSendClick()" />
      <label style="margin-left:10px;font:bold">to {{activeContact}}</label>
      <input type="hidden" id="displayname" />
      <input type="hidden" id="activecontact" />

      <div class="container" *ngIf="messages.length > 0">
        <div *ngFor="let msg of messages">          
          <span>{{msg.time + ": " + msg.name + " to " + msg.contact + ": " + msg.message}}</span>
        </div>
      </div>

    </div>
  </div>
</div>

