

<div style="text-align:center">
  <h2>
    Hello {{nick}}!
  </h2>

  <div class="row">
    <!-- contacts -->
    <div class="container column left" style="background-color:#aaa;">

      <ul >
        <li *ngFor="let c of contacts">
          <a (click)="onGoToChatWith(c.name)" href="#"><span>{{c.name}}</span> --- [{{c.department}}]</a>
        </li>
      </ul>
    </div>

      <div class="container column right">
        <h4 id="myname">Enter message</h4>

        <input type="text" [(ngModel)]="message" (keyup)="onSendKey($event)" />
        <input type="button" id="sendmessage" value="Send" (click)="onSendClick()" />
        <label style="margin-left:10px;font:bold">to {{activeContact}}</label>
        <input type="hidden" id="displayname" />
        <input type="hidden" id="activecontact" />

        <div class="container" *ngIf="messages.length > 0">
          <div *ngFor="let msg of messages">
            <span>{{msg.time + ": " + msg.name + " to " + msg.contact + ": " + msg.message}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>

